.swapContainer {
  padding: 1.5rem 0rem;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  align-self: flex-start;
}

.pageTitle {
  /* Swap (HEADER) */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  /* Background-color */

  color: #252424;
}

.formContainer {
  padding-left: 2rem;
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}
/* 
.form {
} */

.swapContainer form {
  margin-top: 1rem;
}
.formTitle {
  /* Form Title */

  position: relative;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #252424;
  margin-bottom: 2rem;
}

.swapContainer .fa-arrow-right {
  color: var(--color-orange);
}
