@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-background-color: #252424;
  --color-dark-blue: #0283d4;
  --color-light-blue: #1abcfe;
  --color-light-green: #1dc3ca;
  --color-white: #efefef;
  --color-red: #e54849;
  --color-orange: #d8892f;
  --color-green: #59b868;
  --color-slate-gray: #63768d;
}

.test {
  color: white;
  background-color: #0283d4;
  height: 100%;
  flex-grow: 1;
}

.bodyContent {
  position: relative;
  flex-grow: 2;

  display: flex;
  flex-direction: column;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-color);
  overflow-y: auto;
}

.hidden {
  display: none;
}

/* default input */
input {
  padding: 0.75rem;
  border: 0px;

  /* setting width to be (size of the container - [padding left + padding right]) */
  width: calc(
    100% - var(--input-with-icon-padding-left) - var(--input-padding)
  );

  border-bottom: 1px solid var(--color-slate-gray);
  outline: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

input:focus {
  outline: 1px solid var(--color-slate-gray);
}
