@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-background-color: #252424;
  --color-dark-blue: #0283d4;
  --color-light-blue: #1abcfe;
  --color-light-green: #1dc3ca;
  --color-white: #efefef;
  --color-red: #e54849;
  --color-orange: #d8892f;
  --color-green: #59b868;
  --color-slate-gray: #63768d;
}

.spacer {
  flex-grow: 2;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-color);
  overflow: scroll;
}


.hidden {
  display: none;
}